<div class="container">
  <div class="header">
    <h1 class="text-center" style="font-family: Monaco,serif; color: aliceblue">Welcome to Kickoff League</h1>
    <p class="text-center">Kickoff League is an official website of Premier League for users to bet on upcoming matches and buy tickets for the matches.</p>
  </div>
  <div class="content">
    <table class="table table-striped table-dark table-hover text-center">
      <thead>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Match</th>
        <th scope="col">Stadium</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Ticket Cost</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of (matches$ | async)">
        <th scope="row">{{match.id}}</th>
        <td><button class="btn btn-link" (click)=showMatch(match)>{{match.MatchName}}</button></td>
        <td>{{match.Stadium}}</td>
        <td>{{match.Date | date: 'shortDate'}}</td>
        <td>{{match.Time}}</td>
        <td>{{match.TicketCost | currency: 'BTN '}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col float-left" *ngIf="selected">
    <app-show-match [match] ="selectedMatch" *ngIf="selected"></app-show-match>
  </div>
  <div class="footer">
    <form>
      <div class="form-row">
        <div class="col form-group">
          <button class="btn btn-success float-right" type="button" routerLink="/Match"><fa-icon [icon]="ticketIcon"></fa-icon> Buy Tickets </button>
        </div> <!-- form-group end -->
        <div class="col form-group">
          <button class="btn btn-success float-left" type="button" routerLink="/MatchBet"><fa-icon [icon]="betIcon"></fa-icon> Bet on Matches </button>
        </div> <!-- form-group end -->
      </div>
    </form>
  </div>
</div>
